.product {
  align-items: center;

  &__container {
    padding-left: 3rem;

    @include media-breakpoint-down(lg) {
      padding-left: 0;
    }
  }

  &__quantity {
    display: flex;
    align-items: center;
    margin-bottom: 1.3rem;
    p {
      font-size: 14px;
      margin-right: 1rem;
      margin-bottom: 0;
    }
  }
}
