.section-hero {
  padding-top: 5rem;
  padding-bottom: 5rem;

  background-image: url("../../../assets/images/hero-img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height: 45rem;

  p {
    font-size: 18px;
  }
}
